{{#if tiendas}}
  <div class="container text-secondary">
    <br>
    <a href="/altatienda"><h6>Nueva Tienda</h6></a>
    <h6>Mis tiendas:</h6>
  </div>
  {{else}}
  <div class="container text-secondary">
    <br>
    <a href="/altatienda"><h6>Nueva Tienda</h6></a>
    <h6>Aun no tiene ninguna tienda.</h6>
  </div>
{{/if}}
<section class="container">
<div class="row justify-content-md-center">
  {{#each tiendas}}
    <div class="card col-lg-2 col-md-4 col-sm-12 col-12 text-white bg-dark" style="width: 100%; margin-right: 20px; margin-lefth: 20px; margin-bottom: 20px">
      <a href="/detalletienda/{{this._id}}"><img class="card-img-top" style="margin-top:5%" src="{{this.foto.path}}" alt="Card image cap"></a>
      <div class="card-body">
        <a href="/detalletienda/{{this._id}}" style="text-align: center; text-decoration: none; color: white"><h5 class="card-title" style="font-size:15px;">{{this.nombre}}</h5></a>
      </div>
    </div>
  {{/each}}
</div>
</section>
<br><br><br><br>
