  <!-- left nav bar  -->
<div class="container contenedor">
  	<div class="row shadow-lg cta-card">
        <div class="col-md-3 contenedor">
            <div class="list-group ">
                <a href="/perfil" class="list-group-item list-group-item-action">Perfil</a>
                <a href="#" class="list-group-item list-group-item-action">Compras</a>
                <a href="/carrito" class="list-group-item list-group-item-action">Carrito</a>
                <a href="/administrartienda" class="list-group-item list-group-item-action active">Tienda</a>
            </div>
        </div>
 <!-- contenedor derecha  -->
        <div class="col-sm-9">
                <div class="card contenedor">
                            <div class="card-body">                                                                                                                                                      
<!-- Card body  -->
                                  <div class="row">
                                    <div class="col-md-12">
                                        <h4>Mis Tiendas</h4>
                                        <hr>
                                    </div>
                                  </div>
                            <div class="row bgd">
  		                          <div class="col-md-12">
                                    {{#if tiendas}}
                                          <div class="container text-secondary">
                                              <br>
                                                  <a href="/altatienda" class="prod btn btn-info "><h6>Nueva Tienda</h6></a>
                                                      </div>
                                                      {{else}}
                                                          <div class="container text-secondary">
                                                              <br>
                                                                <a href="/altatienda"><h6>Nueva Tienda</h6></a>
                                                              <h6>Aun no tiene ninguna tienda.</h6>
                                                          </div>
                                                      {{/if}}
                                        <section class="container">                          
                                            <div class="row justify-content-center">
                                                {{#each tiendas}}                                              
                                                    <div class="card col-12 col-md-3   bg-dark prod">
                                                        <a href="/detalletienda/{{this._id}}"><img class="card-img-top  contenedor" src="{{this.foto.path}}" alt="Card image cap"></a>
                        
                                                        <div class="card-body">
                                                            <a href="/detalletienda/{{this._id}}"><p class="card-title text-light">{{this.nombre}}</p></a>                                                                                                                                                                
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>                                                    
                                        </section>
  		                            </div>
  		                      </div>
                      </div>
                  </div>
              </div>
  	      </div>
      </div>
    <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>




