<section class="container">
  <br>
  <h6>Articulos dentro de la orden</h6>
  {{#if carrito}}
    <br>
      <h5>Costo total: ${{carrito.costototal}}</h5>
    <br>
    <form class="md-form" action="/comprar/{{carrito.[0].user_id}}/{{carrito.costototal}}" method="post">
      <div class="form-group">
        <button class="btn btn-primary" type="submit" name="" value="">Genera compra</button>
      </div>
    </form>
    <br>
  {{/if}}

  <div class="row justify-content-md-center">
    {{#each carrito}}
      <!--<a href="/cat/{{this.identificador}}">{{this.subcategoria}}</a>-->
      <div class="card col-lg-2 col-md-4 col-sm-12 col-12 text-white bg-dark" style="width: 100%; margin-right: 20px; margin-lefth: 20px; margin-bottom: 20px">
        <a href="#"><img class="card-img-top" style="margin-top:5%;" src="{{this.orden.anuncio_id.foto.path}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="#" style="text-align: center; text-decoration: none; color: white;"><h5 class="card-title" style="font-size:15px;">{{this.orden.anuncio_id.titulo}}</h5></a>
          <p class="card-text" style="font-size:10px;">{{this.descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush text-dark" style="margin-bottom: 5%; font-size:10px;">
          <li class="list-group-item">Cantidad: {{this.orden.cantidad}}</li>
          <li class="list-group-item">Subtotal: ${{this.orden.subtotal}}</li>
        </ul>
        <div class="card-body">
          <a href="/carrito/delete/{{this._id}}" class="btn btn-primary" style="font-size: 10px;">Eliminar</a>
        </div>
      </div>
    {{/each}}
  </div>
  <br><br><br>
</section>
