
  <!-- left nav bar  -->
  <div class="container contenedor">
  	<div class="row shadow-lg cta-card">
  		<div class="col-md-3 contenedor">
  		     <div class="list-group ">
                <a href="/perfil" class="list-group-item list-group-item-action">Perfil</a>
                <a href="/compras" class="list-group-item list-group-item-action">Compras</a>
                <a href="/carrito" class="list-group-item list-group-item-action active" >Carrito</a>
                <a href="/administrartienda" class="list-group-item list-group-item-action">Tienda</a>
              </div>
              </div>
                <div class="col-md-9">
                  <div class="card contenedor">
                    <div class="card-body">
                      <div class="row col-12">
                        <div class="justify-content-start">
                            <h4>Articulos dentro de la orden</h4>
                        </div>
                      </div>

                        <hr>

<!-- Card body  -->
  		            <div class="row bgd">
  		                <div class="col">


                             {{#if carrito}}
    <br>
      <h5>Costo total: ${{carrito.costototal}}</h5>
    <br>
    <form class="md-form" action="/comprar/{{carrito.[0].user_id}}/{{carrito.costototal}}" method="post">
      <div class="form-group">
        <button class="btn btn-primary" type="submit" name="" value="">Genera compra</button>
      </div>
    </form>
    <br>
  {{/if}}

                            <section class="container">

                                <div class="row justify-content-center">
                              {{#each carrito}}
                            <!--<a href="/cat/{{this.identificador}}">{{this.subcategoria}}</a>-->

                                    <div class="card col-12 col-md-6 col-lg-4 bg-dark prod">
                                        <img class="card-img-top contenedor" src="{{this.orden.anuncio_id.foto.path}}" alt="Card image">
                                            <div class="card-body align-self-baseline">
                                                <h4 class="card-title text-light">{{this.orden.anuncio_id.titulo}}</h4>
                                                <p class="card-text">{{this.descripcion}}</p>
                                                  <ul class="list-group list-group-flush text-dark">
                                                      <li class="list-group-item">Cantidad: {{this.orden.cantidad}}</li>
                                                      <li class="list-group-item">Subtotal: ${{this.orden.subtotal}}</li>
                                                  </ul>
                                                <a href="/carrito/delete/{{this._id}}" class="btn btn-danger btn-sm contenedor" style="font-size: 10px;">Eliminar</a>
                                            </div>
                                    </div>
                              {{/each}}
                              </div>

                            </section>

  		                </div>
  		            </div>

  		        </div>
  		    </div>
  		</div>
  	</div>
  </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
